@import "mixins.scss";
@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background: url("../../../images/wal2.jpeg") no-repeat center / cover;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  color: #fff;
}
.bg-dark-bg {
  background-color: rgba(0, 0, 0, 0.324);
  width: 100vw;
}
.header {
  padding: 10px;
  font-size: 1.8rem;
  font-family: "Aboreto", cursive;
  a {
    @include links;
  }
}
.main {
  width: 100%;
  height: 88vh;
  flex-direction: column;
  position: relative;
  .preencher {
    width: 100%;
    div {
      width: 320px;
      height: 300px;
      margin: 5px;
      background-color: rgba(139, 134, 134, 0.269);
      border: 1px solid rgba(255, 255, 255, 0.24);
      box-shadow: 1px 1px 1px #fff;
      color: #fff;
      padding: 20px;
      border-radius: 5px;
      .title_planeta {
        font-family: "Unbounded", cursive;
        font-weight: bold;
        font-size: 1.4rem;
        margin-bottom: 8px;
      }
      .p_padrao {
        font-family: "Courier New", Courier, monospace;
        margin-bottom: 10px;
      }
    }
    .pesquisa {
      flex-direction: column;
      margin-right: 15px;
      .title_pesquisa {
        font-family: "Unbounded", cursive;
        font-weight: bold;
        font-size: 1.5rem;
        width: 300px;
        margin-bottom: 10px;
      }
    }
    #novoElemento {
      display: none;
    }
    #novoElemento:hover {
      transform: scale(0.9);
      cursor: pointer;
    }
    .Tatooine::after {
      content: url($tatooine);
      @include after;
    }
    .Alderaan::after {
      content: url($alderaan);
      @include after;
    }
    .Yavin::after {
      content: url($yavin);
      @include after;
    }
    .Hoth::after {
      content: url($hoth);
      @include after;
    }
    .Dagobah::after {
      content: url($dagobah);
      @include after;
    }
    .Bespin::after {
      content: url($bespin);
      @include after;
    }
    .Endor::after {
      content: url($endor);
      @include after;
    }
    .Naboo::after {
      content: url($naboo);
      @include after;
    }
    .Coruscant::after {
      content: url($coruscant);
      @include after;
    }
    .Kamino::after {
      content: url($kamino);
      @include after;
    }
  }
  .lista {
    font-size: 1.5rem;
    flex-direction: column;
    font-family: "Unbounded", cursive;
    a {
      @include links;
      cursor: pointer;
    }
  }
}
.footer {
  font-size: 1.2rem;
  flex-direction: column-reverse;
  align-items: flex-start;
  color: #fff;
  padding: 5px;
  a {
    @include links;
  }
}
@media screen and (max-width: 767px) {
  .bg {
    height: auto;
  }
  .main {
    .preencher {
      flex-direction: column;
      margin: 20px 0;
      align-items: flex-start !important;
      .pesquisa {
        margin-right: 0;
        height: 200px;
      }
    }
  }
  .ms-4 {
    margin-left: 0 !important;
  }
}
